
  header h2 {
    font-size: 25px;
    color: #fff;
    text-align: center;
  }
  
  main {
    text-align: left;
    margin-top: 20px;
    padding: 20px;
  }
  
  p {
    color: #fff;
    background-color: #343438;
    padding: 2rem;   
  }
  
  

  

  