.container-about {
  width: 80%;
  margin-block: 2rem;
  margin: auto;

  /* background-color: #343438;
  border: 1px solid red; */
}
.title-about {
  color: #fff;
  font-family: "Kalam", cursive;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.img-fluid {
  border: 1px solid red;
  width: 100%;
}

.content-about {
  padding-block: 20px;
  line-height: 1.6rem;
  text-align: start;
  letter-spacing: 1.2px;
  color: #fff;
}
