@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");

.restaurant-section {
  margin: 02rem 4rem;
}
.content-menu {
  text-align: center;
  letter-spacing: 1px;
  line-height: 2rem;
  background-color: rgb(52, 52, 56, 0.5);
}
.restaurant-section h2 {
  color: #fff;
  font-family: "Kalam", cursive;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.row-card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

#card {
  background-color: #343438;
  padding: 1rem 2rem;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

#card h3 {
  color: #ca8f1d;
  margin-bottom: 1rem;

}

#card img {
  margin-bottom: 1rem;
}
