@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");

.restaurant-section {
  width: 90%;
  margin: auto;
}
.content-menu {
  text-align: center;
  letter-spacing: 1px;
  line-height: 2rem;
  background-color: rgb(52, 52, 56, 0.5);
}
.title-menu,
.restaurant-section h2 {
  color: #fff;
  font-family: "Kalam", cursive;
  font-size: 2rem;
  margin-bottom: 2rem;
}

#card {
  background-color: #343438;
  padding: 0 3rem;
  padding-top: 2rem;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  margin-bottom: 2rem;
  transition: transform 0.5s;
}

#card:hover {
  transform: scale(1.03);
}

#card h3 {
  color: #ca8f1d;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

#card p {
  padding: 0; /* To reset */
  margin: 0 1.5rem;
}

@media (max-width: 768px) {
  #card img {
    margin-bottom: 1rem;
    width: 180px;
  }
  #card {
    height: 430px;
  }
}
@media (min-width: 769px) {
  #card img {
    margin-bottom: 1rem;
    width: 200px;
  }
  #card {
    height: 420px;
  }
}
@media (min-width: 992px) {
  #card img {
    margin-bottom: 1rem;
    width: 150px;
  }
  #card {
    height: 420px;
    padding: 30px 10px;
  }
}

/* CSS FROM RESTAURANT-PAGE COMPONENT--------------------------------------------------------------------------------------------------------------- */
.restaurant-page-container {
  width: 90%;
  margin: auto;
}
.image-restaurantPage {
  height: 100%;
}
.col-item {
  height: 500px;
}
ul {
  width: 100%;
  list-style-type: none;
}
li {
  color: white;
  border-bottom: 1px solid rgb(66, 64, 64);
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  li {
    margin-bottom: 10px;
    font-size: smaller;
  }
  .col-item {
    height: 100px;
    margin-bottom: 30px;
    font-size: small;
  }
  .btn-menu {
    width: 30px;
    height: 20px;
    font-size: 8px;
    border: 1px solid grey;
    padding: 2px;
  }
}
@media (min-width: 769px) {
  li {
    margin-bottom: 10px;
    font-size: medium;
  }
  .col-item {
    height: 250px;
    margin-bottom: 30px;
    font-size: large;
  }
  .btn-menu {
    width: 50px;
    height: 20px;
    font-size: 12px;
    border: 1px solid grey;
    padding: 2px;
  }
}
@media (min-width: 1024px) {
  li {
    margin-bottom: 20px;
    font-size: large;
  }
  .col-item {
    height: 300px;
    margin-bottom: 40px;
    font-size: large;
  }
  .btn-menu {
    width: 70px;
    height: 30px;
    font-size: 14px;
    border: 1px solid grey;
    padding: 2px;
  }
}
