.container-about-page {
  width: 90%;
  margin: auto;
}
.title-about {
  color: #fff;
  font-family: "Kalam", cursive;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.img-fluid {
  width: 100%;
}

.content-about {
  padding-block: 20px;
  line-height: 1.6rem;
  text-align: start;
  letter-spacing: 1.2px;
  color: #fff;
  background-color: transparent;
}
.content-about-page {
  background-color: rgb(52, 52, 56, 0.5);
}
.image-bg-page1 {
  min-height: 400px;
  max-height: auto;
  background-image: url(../../assets/6.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
.image-bg-page2 {
  height: 400px;
  background-image: url(../../assets/9.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
