.booking-container {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 300px;
  border: 1px solid grey;
  background-color: rgb(66, 69, 71);
  padding: 20px;
}
.booking-container ul {
}
.booking-container li {
  border-bottom: 1px solid grey;
}
.booking-container span {
  background-color: rgb(174, 178, 180);
  color: rgb(54, 53, 53);
}
