@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat&display=swap");
.nav-container {
  width: 100%;
  position: fixed;
  text-align: right;
  padding-inline: 10px;
  z-index: 1000;
}
.nav-container.scrolled {
  background-color: #191e22; /* Change the background color to grey when scrolled */
}
@media (max-width: 575.98px) {
  .navbar-collapsed {
    background-color: rgb(52, 52, 56, 0.5);
    position: fixed;
    width: 50%;

    padding-top: 35rem;
  }
  .navbar-collapsed .nav-link {
    width: 90%;
    border: 2px solid grey;
    border-color: #d3d3d3;
    background-color: rgb(52, 52, 56, 0.7);
    margin: auto;
    text-align: center;
  }
  .nav-container .navbar-nav {
    text-align: left;
  }
}
