h3 {
  color: white;
  font-size: 1rem;
}
header h2 {
  color: #fff;
  font-family: "Kalam", cursive;
  font-size: 2rem;
  margin-bottom: 2rem;
  padding-top: 70px;
}
.content-contactUs {
  color: #fff;
  background-color: #343438;
  padding: 2rem;
}
.vertical-separator {
  border-right: 3px solid #f0e9e9;
}
