/* .slide-img {
  width: 700px;
} */

/* .container {
  border: 1px solid blue;
}

.col {
  border: 1px solid yellow;
} */

/* .sizing-fix {
  max-width: 1116px;
  border: 1px solid red;
} */

/* .slide-img {
  object-fit: cover;
} */
