* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer {
  color: #fff;
  background-color: #343438;
  line-height: 2;
  padding: 2rem 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-heading {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover,
a:active {
  color: #888;
}

address {
  font-style: normal;
}

.contact-icon {
  margin-right: 0.5rem;
}

.footer-nav-list {
  list-style: none;
  padding: 0;
}

/* Added because p had padding: 2rem set somewhere else */
.reset-padding {
  padding: 0;
}
